@import "tailwindcss";

@font-face {
  font-family: "Spicy Rice";
  src: url("./assets/fonts/SpicyRice-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: "Spicy Rice", cursive;
}